<div class="form-container">

    <div class="note-card-content">
        <h1 class="note-card-title" *ngIf="isNew === true">{{date | date}}</h1>
        <h1 class="note-card-title" *ngIf="isNew === false">{{note.title | date}}</h1>

        <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
            <div class="field">
                <label>Tag:</label>
                <input type="text" name="tag" [(ngModel)]='tagString' (change)="updateTag(tagString)" required class="tag">
            </div>

            <div class="field">
                <label>Text:</label>
                <textarea class="textarea" name="content" [(ngModel)] ="note.content"></textarea>
            </div>

            <button *ngIf="isNew===true" class="save-btn" type="submit" [disabled]="!noteForm.valid">SAVE</button>
        </form>
        
    </div>


    <button class="delete-button" routerLink="../" type="button">X</button>
    

</div>